* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.second-page-list-item div p
{
    margin: 5px;
}
.second-page-list-item div
{
    padding-top: 3px;
    padding-bottom: 3px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#stationMap {
    height: 300px;
    min-height: 30vh;
    max-height: 50vh;
    width: 100%;
}

/* --------------- google maps station popup: --------------- */

#siteNotice {
    height: 50%;
    width: 50%;
    text-align: center;
}

#firstHeading {
    margin: auto;
    text-align: center;
}

#locationImage {
    margin: auto;
    text-align: center;
    height: 100px;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#map-loader {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 400;
    width: 30px;
    height: 30px;
}

#zoomlevel {
    top: 100px;
    bottom: 20px;
    right: 20px;
    width: 10px;
    border-radius: 5px;
    z-index: 400;
    position: absolute;
    overflow: hidden;
    background: #fff;
}

#zoomlevel-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 5px;
    background-color: #3366FF;
    background-image: linear-gradient(45deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 10%,
        transparent 10%,
        transparent 20%,
        rgba(255, 255, 255, 0.5) 20%,
        rgba(255, 255, 255, 0.5) 30%,
        transparent 30%,
        transparent 40%,
        rgba(255, 255, 255, 0.5) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        transparent 50%,
        transparent 60%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0.5) 70%,
        transparent 70%,
        transparent 80%,
        rgba(255, 255, 255, 0.5) 80%,
        rgba(255, 255, 255, 0.5) 90%,
        transparent 90%,
        transparent);
}

/* ---------------------------------------------------------- */

#details #details-svg-wrapper {
    padding: 10px;
    border: 1px solid #ccc;
}

#details #details-svg {
    height: 300px;
    width: 100%;
    display: block;
}

#information-list .right  {
    user-select: all;
    user-select: text;
}

.pand-svg {
    float: left;
    display: block;
    margin-right: 8px;
}

.vert-middle > * {
    vertical-align: middle;
}

#details-verblijfobject-detail ons-list-item .right {
    text-transform: capitalize;
}

ons-toast {
    max-width: 400px!important;
    margin: auto;
}

.hidden {
    display: none;
}

.vert-middle > * {
    vertical-align: middle;
}


