<ons-page id="map-about">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Over Deze App
        </div>
    </ons-toolbar>
    <div style="padding: 8px;">
        <p>
            Met de Kadaster Kaart app kunt u gemakkelijk kadastrale informatie bekijken. Zoom in op een locatie die u interessant vind
            tot de kadaster percelen zichtbaar worden.
        </p>
        <img src="images/screenshot1.png" class="responsive" alt="Screenshot perceel">
        <p>Klik op een van de percelen om details over dat perceel in te zien.</p>
        <img src="images/screenshot2.png" class="responsive" alt="Screenshot perceel focus">
        <p>Door op de "Details" knop te drukken kunt u meer informatie over dit perceel inzien.</p>
        <img src="images/screenshot3.png" class="responsive" alt="Screenshot informatie over perceel">
        <p>In het menu, links boven in de toolbar, kunt de luchtfoto versie van de kaart bekijken.</p>
        <img src="images/screenshot4.png" class="responsive" alt="Screenshot luchtfoto">
        <p>Ook kunt u zoeken op locaties (steden en dorpen)</p>
        <img src="images/screenshot5.png" class="responsive" alt="Screenshot zoeken">
        <ons-card>
            <p>
                Deze app gebruikt de volgende services:
            </p>
            <ul>
                <li>
                    <a target="_system" href="https://leafletjs.com/">Leaflet Maps</a>
                </li>
                <li>
                    <a target="_system" href="https://www.google.com/maps">Google Sat Afbeeldingen</a>
                </li>
                <li>
                    <a target="_system" href="https://www.nationaalregister.nl/">Nationaal Register</a>
                </li>
                <li>
                    <a target="_system" href="https://www.openstreetmap.org">Open Streetmap</a>
                </li>
                <li>
                    <a target="_system" href="https://www.pdok.nl">PDOK</a>
                </li>
            </ul>

            <div>
                <a target="_system" href="https://esstudio.site/contact/">Contact opnemen met de ontwikkelaar</a>
            </div>
            <div>
                <a target="_system" href="https://esstudio.site">Website van de ontwikkelaar</a>
            </div>
            <div>
                <a href="mailto:polyismstudio@gmail.com?subject=Kadaster%20App&body=Uw%20bericht." target="_top">Stuur Email</a>
            </div>
            <div>
                <a target="_system" href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html">Privacy Policy</a>
            </div>
            <p>
                Als u de website versie van deze app gebruikt. Dan worden er geanonimiseerde Google Analytics cookies ingeladen. Meer informatie
                over cookies en de EU cookies wet kunt u
                <a href="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm">hier</a> vinden.
            </p>
            <div>Icons made by Smashicons is licensed by CC 3.0 BY</div>
        </ons-card>
    </div>
</ons-page>