<ons-page id="details-misc">
    <h3 style="padding: 8px;">
        Overige informatie
    </h3>
    <ons-list>
        <ons-list-header>Woonplaats</ons-list-header>
        <div id="woonplaats-misc-list-item-container"></div>
    </ons-list>
    <div style="margin-top: 8px;"></div>
    <ons-list>
        <ons-list-header>Ligplaatsen</ons-list-header>
        <div id="ligplaatsen-misc-list-item-container"></div>
    </ons-list>
    <div style="margin-top: 8px;"></div>
    <ons-list>
        <ons-list-header>Standplaatsen</ons-list-header>
        <div id="standplaatsen-misc-list-item-container"></div>
    </ons-list>
</ons-page>