<ons-page id="details-general">
    <ons-card>
        <div id="details-svg-wrapper">
            <svg id="details-svg" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg"></svg>
        </div>
    </ons-card>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9732535637352249" data-ad-slot="5664591812"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <ons-list id="information-list" style="margin-top: 10px">
        <ons-list-header>Information</ons-list-header>
        <ons-list-item>
            <div class="left">Gemeente</div>
            <div class="right" id="gemeente"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Gemeente code</div>
            <div class="right" id="gemeente-code"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Sectie</div>
            <div class="right" id="perceel-sectie"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Perceel nummer</div>
            <div class="right" id="perceel-nummer"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Perceel</div>
            <div class="right" id="perceel-full-code"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Kadastrale grootte</div>
            <div class="right" id="kadastrale-grootte"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Logisch ontstaan</div>
            <div class="right" id="logisch-ontstaan"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Logisch vervallen</div>
            <div class="right" id="logisch-vervallen"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Lengtegraad</div>
            <div class="right" id="perceel-lon"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Breedtegraad</div>
            <div class="right" id="perceel-lat"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Lengtegraad DMS</div>
            <div class="right" id="perceel-lon-dms"></div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">Breedtegraad DMS</div>
            <div class="right" id="perceel-lat-dms"></div>
        </ons-list-item>

    </ons-list>
</ons-page>