<ons-page id="details-verblijfobject-detail">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">
            Verblijfs Plaats
        </div>
    </ons-toolbar>
    <h3 style="padding: 8px;">Informatie</h3>
    <ons-list>

        <ons-list-item>
            <div class="left">Actualiteits Datum</div>
            <div class="right" id="details-vo-actualiteitsdatum"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Bouwjaar</div>
            <div class="right" id="details-vo-bouwjaar"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Gebruiksdoel</div>
            <div class="right" id="details-vo-gebruiksdoel"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Huisletter</div>
            <div class="right" id="details-vo-huisletter"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Huisnummer</div>
            <div class="right" id="details-vo-huisnummer"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Identificatie</div>
            <div class="right" id="details-vo-identificatie"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Openbare ruimte</div>
            <div class="right" id="details-vo-openbare-ruimte"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Oppervlakte</div>
            <div class="right">
                <span id="details-vo-oppervlakte"></span>m
                <sup>3</sup>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Pandidentificatie</div>
            <div class="right" id="details-vo-pandidentificatie"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Pandstatus</div>
            <div class="right" id="details-vo-pandstatus"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Postcode</div>
            <div class="right" id="details-vo-postcode"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Status</div>
            <div class="right" id="details-vo-status"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Toevoeging</div>
            <div class="right" id="details-vo-toevoeging"></div>
        </ons-list-item>

        <ons-list-item>
            <div class="left">Woonplaats</div>
            <div class="right" id="details-vo-woonplaats"></div>
        </ons-list-item>
    </ons-list>
</ons-page>