<ons-page id="details">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">
            Details
        </div>
    </ons-toolbar>
    <ons-tabbar swipeable position="auto">
        <ons-tab id="details-general-tab" page="views/details-general.html" label="Algemeen" icon="md-info" active>
        </ons-tab>
        <ons-tab id="details-panden-tab" page="views/details-panden.html" label="Panden" icon="md-store">
        </ons-tab>
        <ons-tab id="details-verblijfplaatsen-tab" page="views/details-verblijfplaatsen.html" label="Verblijfplaatsen" icon="md-home">
        </ons-tab>
        <ons-tab id="details-misc-tab" page="views/details-misc.html" label="Overige" icon="md-more">
        </ons-tab>
    </ons-tabbar>
   
</ons-page>