<ons-page id="map-page">
    <ons-toolbar>
        <div id="toolbar-progress-filler"></div>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Kadastrale Kaart App
        </div>
        <div class="right">
            <ons-toolbar-button onclick="window.open('https://esstudio.site/kadaster-kaart', '_system')" title="Volledige versie" aria-label="Koop de volledige versie">
                <a>
                    <ons-icon icon="md-store"></ons-icon>
                </a>
            </ons-toolbar-button>
            <ons-toolbar-button onclick="fn.load('views/about.html')">
                <ons-icon icon="md-info"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        <div id="map"></div>
        <!-- <div id="zoomlevel">
            <div id="zoomlevel-inner">
                <div id="zoomlevel-progress"></div>
            </div>
        </div> -->
    </p>
    <ons-speed-dial position="bottom right" direction="up">
        <ons-fab>
            <ons-icon icon="md-more-vert"></ons-icon>
        </ons-fab>
        <!-- Sharingbutton Facebook -->
        <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fesstudio.site%2Fkadaster-kaart"
            target="_system" rel="noopener" aria-label="">
            <ons-speed-dial-item>
                <ons-icon icon="md-facebook"></ons-icon>
            </ons-speed-dial-item>
        </a>

        <!-- Sharingbutton Twitter -->
        <a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Met%20de%20Kadaster%20kaart%20app%2Fwebsite%20kun%20he%20gemakkelijk%20informatie%20opzoeken%20over%20percelen%20die%20geregistreerd%20staan%20bij%20het%20Kadaster.&amp;url=https%3A%2F%2Fesstudio.site%2Fkadaster-kaart"
            target="_system" rel="noopener" aria-label="">
            <ons-speed-dial-item>
                <ons-icon icon="md-twitter"></ons-icon>
            </ons-speed-dial-item>
        </a>

        <!-- Sharingbutton E-Mail -->
        <a class="resp-sharing-button__link" href="mailto:?subject=Met%20de%20Kadaster%20kaart%20app%2Fwebsite%20kun%20he%20gemakkelijk%20informatie%20opzoeken%20over%20percelen%20die%20geregistreerd%20staan%20bij%20het%20Kadaster.&amp;body=https%3A%2F%2Fesstudio.site%2Fkadaster-kaart"
            target="_system" rel="noopener" aria-label="">
            <ons-speed-dial-item>
                <ons-icon icon="md-email"></ons-icon>
            </ons-speed-dial-item>
        </a>

        <ons-speed-dial-item onclick="fn.loadsearch()">
            <ons-icon icon="md-search"></ons-icon>
        </ons-speed-dial-item>

        <ons-speed-dial-item onclick="fn.load('views/about.html')">
            <ons-icon icon="md-info"></ons-icon>
        </ons-speed-dial-item>
    </ons-speed-dial>
</ons-page>