<ons-page id="map-page">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Kaart
        </div>
    </ons-toolbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        <div id="map"></div>
        <div id="zoomlevel">
            <div id="zoomlevel-progress"></div>
        </div>
    </p>
</ons-page>