<ons-page id="splitter">
    <ons-splitter>
        <ons-splitter-side id="menu" side="left" width="220px" collapse>
            <ons-page>
                <ons-list>
                    <ons-list-item onclick="fn.loadkaart()" tappable>
                        <ons-icon icon="md-map"></ons-icon>&nbsp; Kaart
                    </ons-list-item>
                    <ons-list-item onclick="fn.loadluchtfoto()" tappable>
                        <ons-icon icon="md-satellite"></ons-icon>&nbsp; Luchtfoto
                    </ons-list-item>
                    <ons-list-item onclick="fn.loadsearch()" tappable>
                        <ons-icon icon="md-search"></ons-icon>&nbsp; Zoeken
                    </ons-list-item>
                    <ons-list-item onclick="fn.load('views/about.html')" tappable>
                        <ons-icon icon="md-info"></ons-icon>&nbsp; Over Deze App
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="views/map.html"></ons-splitter-content>
    </ons-splitter>
</ons-page>